{% extends "lots/base.html" %}
{% load i18n %}

{% block title %}{% trans "This lot is being used for something else" %} | {{ block.super }}{% endblock %}

{% block body_class %}{{ block.super }} add-groundtruthrecord-page{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "This lot is being used for something else" %}</li>
{% endblock %}

{% block lot_content %}
{{ block.super }}
<div>
    <h3>{% trans "This lot is being used for something else" %}</h3>
    <div>
        <p>
            {% blocktrans %}
            Please give us more information about how the lot is currently 
            being used and we will update the lot once we have the opportunity
            to review this.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            Also, if you have a picture of the lot as it is actually being used
            or could take one, we would appreciate it. 
            {% endblocktrans %}
            <a href="{% url "lots:add_photo" pk=lot.pk %}" target="_blank">{% trans "Post your photo here" %}</a>.
        </p>
        {% include "groundtruth/_groundtruthrecord_form.html" %}
    </div>
</div>
{% endblock %}
