{% extends "admin/change_form.html" %}
{% load inplace_tags %}

{% block extrahead %}{{ block.super }}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.js"></script>

<style>
    .loading {
        background: url(/static/img/loading.gif);
        display: inline-block;
        height: 16px;
        width: 16px;
    }

    .change-lot-parcel {
        float: right;
        max-width: 601px;
    }

    #change-lot-parcel-map {
        width: 600px;
        height: 250px;
    }

    #change-lot-parcel-message {
        font-weight: bold;
        padding: 5px;
    }

    #change-lot-parcel-form {
        padding: 5px;
    }
</style>

<script>

    django.jQuery(document).ready(function() {
        var $ = django.jQuery;

        var parcelMap = L.map('change-lot-parcel-map', {
            center: [39.952335, -75.163789],
            zoom: 12,

            layers: [
                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{mapboxId}/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
                    maxZoom: 18,
                    mapboxId: '{% inplace_setting PLACES_MAPBOX_ID %}'
                })
            ],
        });       

        var parcelLayer = null;
        var parcelId = null;

        function clearParcelId() {
            $('#id_parcel_pk').val('');
        }

        function setParcelId() {
            $('#id_parcel_pk').val(parcelId);
        }

        function shouldUseParcel() {
            return $('#change-lot-parcel-form-use:checked').length > 0;
        }

        function onParcelFound(data) {
            $('.loading').hide();
            if (data.features.length === 0) {
                $('#id_parcel_pk').val(null);
                $('#change-lot-parcel-message').text("Couldn't find a parcel!");
                return;
            }

            // TODO what if there are multiple matches?
            var feature = data.features[0];
            parcelId = feature.id;
            if (shouldUseParcel) {
                setParcelId();
            }
            $('#id_address_line1').val(feature.properties.address);
            var msg = 'This is the parcel we found.';

            var zipcode = feature.properties.zipcode;
            if (zipcode !== null && zipcode !== '') {
                $('#id_postal_code').val(zipcode);
            }
            else {
                msg += ' Could not find a zipcode for the parcel--if you add a <a href="{% url "admin:boundaries_layer_changelist" %}">boundary layer</a> named "zipcodes" we would find one automatically.';
            }

            parcelLayer = L.geoJson(data).addTo(parcelMap);
            parcelMap.setView(parcelLayer.getBounds().getCenter(), 16);

            if (feature.properties.lot_count <= 1) {
                $('#change-lot-parcel-message').text(msg);
            }
            else {
                $('#change-lot-parcel-message').html('There are <a href="{% url "admin:lots_lot_changelist" %}?parcel=' + feature.id + '" target="_blank">multiple lots</a> using this parcel. Check those first to make sure you\'re not adding a duplicate.'); 
            }

        }

        function updatePolygonTiedToParcel() {
            if ($('#change-lot-parcel-form-use:checked').length > 0) {
                $('#id_polygon_tied_to_parcel').attr('checked', 'checked');
            }
            else {
                $('#id_polygon_tied_to_parcel').removeAttr('checked');
            }
        }

        function updateUseParcelShape() {
            if ($('#id_polygon_tied_to_parcel:checked').length > 0) {
                $('#change-lot-parcel-form-use').attr('checked', 'checked');
            }
            else {
                $('#change-lot-parcel-form-use').removeAttr('checked', 'checked');
            }
        }

        function findParcel(params) {
            // Clear any existing parcels
            if (parcelLayer !== null) {
                parcelLayer.clearLayers();
            }
            $('#change-lot-parcel-message').text('Finding a matching parcel...');
            $('.loading').show();

            // Try to display new parcels, by address
            var url = '{% url "parcels:find_parcel" %}?' + $.param(params);
            $.getJSON(url, function(data) {
                onParcelFound(data);
            });
            
        }

        // Load the parcel if this lot already has one
        if ($('#id_parcel_pk').val() !== '') {
            findParcel({'pk': $('#id_parcel_pk').val()});
        }

        // TODO if findParcel fails, attempt geocode, then look for parcel that
        // contains that point?
        $('#id_address_line1').change(function() {
            var address = $(this).val();
            if (address !== null && address !== '') {
                findParcel({'address': address});
            }
        });

        $('#change-lot-parcel-form-use').change(function() {
            updatePolygonTiedToParcel();
            if (shouldUseParcel()) {
                setParcelId();
            }
            else {
                clearParcelId();
            }
        });

        // Make the use parcel shape checkbox match polygon_tied_to_parcel
        updateUseParcelShape();

        if ($('#id_city').val() === '') {
            $('#id_city').val('Philadelphia');
        }
        if ($('#id_state_province').val() === '') {
            $('#id_state_province').val('PA');
        }
    });

</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block field_sets %}
<div class="change-lot-parcel">
    <div id="change-lot-parcel-map"></div>
    <span id="change-lot-parcel-message">
        Parcel for this lot: enter an address to find a parcel
    </span>
    <div id="change-lot-parcel-form">
        <label for="change-lot-parcel-form-use">Use this parcel's shape</label>
        <input id="change-lot-parcel-form-use" name="change-lot-parcel-form-use" type="checkbox" checked="checked" />
        <div>
            <p>
                If you do not use the parcel's shape, you can edit the geography of the lot below in the geography section. There you should set the <strong>centroid</strong> (where the point will appear) and the <strong>polygon</strong> (the shape of the lot).
            </p>
            <p>
                If you would like to base the lot's shape on this parcel, leave this checked, click <strong>save and continue editing</strong>, then uncheck this and change the polygon.
            </p>
        </div>
    </div>
    <div class="loading" style="display: none;"></div>
</div>
{{ block.super }}
{% endblock %}
