{% load places_util %}
{% block pre_map_scripts %}{% endblock %}

<script>
    // TODO split into main page/sidebar templates


$(document).ready(function() {

    var map = new L.Map('map');

    var cloudmade = new L.TileLayer(
        'http://{s}.tile.cloudmade.com/{% places_setting PLACES_CLOUDMADE_KEY %}/{% places_setting PLACES_CLOUDMADE_STYLE %}/256/{z}/{x}/{y}.png', 
        {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18,
        }
    );

    map.addLayer(cloudmade);

    var latlngs = [];
    var feature_layer = new L.GeoJSON(null, {

        {% block layer_options %}
        onEachFeature: function(data, layer) {
            layer.on('click', function(e) {
                alert('Define an onEachFeature method in your layer_options block!');
            });
        },

        pointToLayer: function(data, latlng) {
            latlngs.push(latlng);
            return new L.marker(latlng);
        },

            /*
        style: function(feature) {
            return {
                // TODO make dynamic
                // TODO make a setting
                // TODO make settable in database by model
                radius: 1,
                fillColor: "#000000",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8,
            }
        },
            */
        {% endblock %}

    });

    $.get('{{ places_url }}', function(collection) {
        feature_layer.addData(collection);
        map.addLayer(feature_layer);
        map.fitBounds(new L.LatLngBounds(latlngs));
    });

});
</script>

<div id="map" style="width: {{ width }}; height: {{ height }};"></div>
