{% extends "lots/base.html" %}
{% load i18n %}

{% block title %}{% trans "Land Characteristics Survey" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "Land Characteristics Survey" %}</li>
{% endblock %}

{% block lot_content %}
    {{ block.super }}
    <h3>{% trans "Land Characteristics Survey" %}</h3>

    {% if "forms.change_form" in perms %}
        <a class="btn btn-small btn-warning" href="{% url "admin:forms_form_change" survey_form_pk %}">
            <i class="icon-edit icon-white"></i>
            {% trans "Edit the land characteristics survey fields" %}
        </a>
    {% endif %}

    {% include "_form.html" with form=form %}
{% endblock %}
