{% load compress js static %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/lib/normalize.css" %}">
<link rel="stylesheet" href="{% static "css/lib/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/lib/bootstrap-responsive.css" %}">
<link rel="stylesheet" href="{% static "css/chosen.css" %}">
<link rel="stylesheet" href="{% static "js/lib/fancybox/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "js/lib/leaflet.label.css" %}" />
<link rel="stylesheet" href="{% static "js/lib/leaflet.usermarker/leaflet.usermarker.css" %}" />
<link rel="stylesheet" href="{% static "css/base.css" %}">
{% endcompress %}

<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->

{% django_js_init jquery=false i18n=false csrf=false %}

{# This wouldn't work when building with r.js #}
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

{# Load requirejs main, built if in production #}
{% if not debug %}
    {% compress js %}
    <script src="{% static "main-built.js" %}"></script>
    {% endcompress %}
{% else %}
    <script src="{% static "js/lib/require.js" %}" data-main="{% static "js/app.js" %}"></script>
{% endif %}
