<!DOCTYPE html>
{% load feincms_tags feincms_page_tags %}
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Vacant to Vibrant{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

    {% block scripts %}{% endblock %}

</head>
<body>
	<div id="page-wrapper">
        <header>
            <div id="logo">
                <h1>
                    <a href="/">Vacant to Vibrant</a>
                </h1>
            </div>
            <nav id="mainmenu" class="clearfix">
            {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
            {% for page in mainmenu %}
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            {% endfor %}
            </nav>
        </header>
        <div class="content-wrapper">
            <section id="main" class="grid grid-3-4">
                <nav id="breadcrumbs" class="clearfix"></nav>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <article>
                    {% block content %}
                    {% feincms_render_region feincms_page "main" request %}
                    {% endblock %}
                </article>
            </section>
            <aside id="aside-right" class="grid grid-1-4">
                {% feincms_render_region feincms_page "sidebar" request %}
            </aside>
        </div>
        <div class="clear"></div>
        <div id="footer">
            {% feincms_render_region feincms_page "footer" request %}
        </div>
	</div>
</body>
</html>
