<!DOCTYPE html>
{% load feincms_tags feincms_page_tags i18n static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ feincms_page.title }} | {% trans "Grounded in Philly" %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{% static "img/favicon_shovel.ico" %}" />

        {% include "_includes.html" %}
        {% block scripts %}{% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41915473-1', 'groundedinphilly.org');
            ga('send', 'pageview');
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_data %}{% endblock %}>

        <div id="page-wrapper">

            <header>

                <div id="page-header">
                    <a id="logo" href="/">
                        <h1>{% trans "Grounded in Philly" %}</h1>
                    </a>
                </div>

                <nav id="mainmenu" class="clearfix">
                    <ul>
                        {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
                        {% for page in mainmenu %}
                        <li>
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                        {% if user.is_superuser %}
                        <li>
                            <a href="/extra-admin/">Admin</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                <div id="tagline">
                    {% trans "a project of the Garden Justice Legal Initiative" %}
                </div>

            </header>

            <div id="beta-disclaimer" class="clearfix">
                <span>
                    {% blocktrans %}
                    Welcome! Grounded in Philly is brand new and in beta. Our data comes from a number of city datasets&mdash;<a href="/about/our-data/" target="_blank">learn more about it here</a>.
                    {% endblocktrans %}
                </span>
            </div>

            <div class="content-wrapper clearfix">
                <section id="main" class="{% block mainclasses %}grid grid-3-4{% endblock %}">

                    {% block submenu %}
                        <nav id="submenu" class="clearfix">
                            {% feincms_nav feincms_page level=3 depth=1 as submenu %}

                            <ul class="nav nav-tabs">

                                {% for page in submenu %}
                                    <li class="dropdown {% ifequal page feincms_page %}active{% endifequal %} {% ifequal page feincms_page.parent %}active{% endifequal %}">

                                        {% feincms_nav page level=4 depth=1 as subsubmenu %}

                                        {% if not subsubmenu %}
                                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                                        {% else %}
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                {{ page.title }}
                                                <b class="caret"></b>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ page.get_absolute_url }}">
                                                        {{ page.title }}
                                                    </a>
                                                </li>

                                                {% for childpage in subsubmenu %}
                                                    <li>
                                                        <a href="{{ childpage.get_absolute_url }}">
                                                            {{ childpage.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endblock %}

                    {% block breadcrumbs_wrapper %}
                        <ul class="breadcrumb">
                            {% block breadcrumbs %}
                                {% feincms_breadcrumbs feincms_page %}
                            {% endblock %}
                        </ul>
                    {% endblock %}

                    {% include "_messages.html" %}

                    <article>
                        {% block content %}
                            {% feincms_render_region feincms_page "main" request %}
                        {% endblock %}
                    </article>
                </section>

                {% block sidebar %}
                <aside id="aside-right" class="grid grid-1-4">
                    {% feincms_render_region feincms_page "sidebar" request %}
                </aside>
                {% endblock %}

            </div>
        </div>
        <div id="footer">
            {% feincms_render_region feincms_page "footer" request %}
        </div>
    </body>
</html>
