{% extends "lots/base.html" %}
{% load facebook_tags i18n twitter_tags %}

{% block title %}{% trans "Already using this lot" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "Already using this lot" %}</li>
{% endblock %}

{% block lot_content %}
{{ block.super }}
<div>
    <h3>{% trans "I'm already using this lot" %}</h3>
    <div>
        {% if lot.nearby %}
        <p>{% trans "Here are some lots near this one you might know something about or be interested in" %}:
            <ul class="nearby-lots">
                {% for nearby in lot.nearby %}
                <li>
                    <a href="{{ nearby.get_absolute_url }}">{{ nearby.address_line1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
