{% extends "lots/base.html" %}
{% load i18n %}

{% block title %}{% trans "This is an active space" %} | {{ block.super }}{% endblock %}

{% block body_class %}{{ block.super }} add-steward-page{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "This is an active community garden, farm or green space." %}</li>
{% endblock %}

{% block lot_content %}
{{ block.super }}
<div>
    <h3>{% trans "This is an active community garden, farm or green space." %}</h3>
    <div>
        <p>
            {% blocktrans %}
            Awesome! Tell us a little about yourself.
            {% endblocktrans %}
        </p>
        {% include "steward/_stewardnotification_form.html" %}
    </div>
</div>
{% endblock %}
