{% load i18n %}

<ul>
    {% for note in notes %}
        <li id="note-{{ note.pk }}" class="note-detail">
            <div class="note-meta">
                <span class="note-added-by">{{ note.added_by_name }}</span>
                <span class="note-added-by-suffix">{% trans "said:" %}
                <span class="note-added">{{ note.added }}</span>
            </div>
            <div class="note-text">{{ note.text|urlize|linebreaks }}</div>

            {% if "notes" in perms %}
                <div class="admin-only btn-group">

                    {% if "notes.change_note" in perms %}
                        <a class="btn btn-small btn-warning" href="{% url "admin:notes_note_change" note.pk %}">
                            <i class="icon-edit icon-white"></i>
                            {% trans "Edit" %}
                        </a>
                    {% endif %}

                    {% if "notes.delete_note" in perms %}
                        <a class="btn btn-small btn-warning" href="{% url "admin:notes_note_delete" note.pk %}">
                            <i class="icon-remove icon-white"></i>
                            {% trans "Delete" %}
                        </a>
                    {% endif %}

                </div>
            {% endif %}

        </li>
    {% endfor %}
</ul>
