{% load i18n %}

<ul>
    {% for note in notes %}
    <li class="note-detail">
        <table>
            <tbody>
                <tr>
                    <th class="field-label">{% trans "author" %}:</th>
                    <td>{{ note.added_by_name }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "added" %}:</th>
                    <td>{{ note.added }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "text" %}:</th>
                    <td>{{ note.text|urlize|linebreaks }}</td>
                </tr>
            </tbody>
        </table>

        {% if "notes" in perms %}
        <div class="admin-only">

            {% if "notes.change_note" in perms %}
            <a href="{% url "admin:notes_note_change" note.pk %}">{% trans "Edit this note" %}</a>
            {% endif %}

            {% if "notes.delete_note" in perms %}
            <a href="{% url "admin:notes_note_delete" note.pk %}">{% trans "Delete this note" %}</a>
            {% endif %}

        </div>
        {% endif %}

    </li>
    {% endfor %}
</ul>
