{% load i18n %}

<ul>
    {% for file in files %}
        <li id="file-{{ file.pk }}" class="file-detail">
            <span class="file-added">{{ file.added }}</span>
            <div class="file-title">
                <a href="{{ file.document.url }}" target="_blank">
                    {{ file.title }}
                </a>
            </div>

            <div class="file-meta">
                <span class="file-added-by-prefix">{% trans "uploaded by" %}</span>
                <span class="file-added-by">{{ file.added_by_name }}</span>
            </div>

            <div class="file-description">
                {{ file.description|urlize|linebreaks }}
            </div>

            {% if "files" in perms %}
            <div class="admin-only">

                {% if "files.change_file" in perms %}
                <a href="{% url "admin:files_file_change" file.pk %}">{% trans "Edit this file" %}</a>
                {% endif %}

                {% if "files.delete_file" in perms %}
                <a href="{% url "admin:files_file_delete" file.pk %}">{% trans "Delete this file" %}</a>
                {% endif %}

            </div>
            {% endif %}

        </li>
    {% endfor %}
</ul>
