{% load i18n %}

<ul>
    {% for file in files %}
    <li class="file-detail">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ file.document.url }}">
                            {{ file.title }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "uploader" %}:</th>
                    <td>{{ file.your_name }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "added" %}:</th>
                    <td>{{ file.added }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "description" %}:</th>
                    <td>{{ file.description|urlize|linebreaks }}</td>
                </tr>
            </tbody>
        </table>

        {% if "files" in perms %}
        <div class="admin-only">

            {% if "files.change_file" in perms %}
            <a href="{% url "admin:files_file_change" file.pk %}">{% trans "Edit this file" %}</a>
            {% endif %}

            {% if "files.delete_file" in perms %}
            <a href="{% url "admin:files_file_delete" file.pk %}">{% trans "Delete this file" %}</a>
            {% endif %}

        </div>
        {% endif %}

    </li>
    {% endfor %}
</ul>
