{% extends "base.html" %}
{% load i18n inplace_tags %}

{% block title %}{{ lot.address_line1 }} | {% trans "Grounded in Philly" %}{% endblock %}

{% block body_class %}{{ block.super }} lot-base-page{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="/">{% trans "Home" %}</a>
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ lot.get_absolute_url }}">
            {{ lot.address_line1|default:lot.pk }}
        </a>
        <span class="divider">&raquo;</span>
    </li>
{% endblock %}

{% block content %}
<div class="grid grid-3-4">
    {% block lot_content %}{% endblock %}
</div>

<div class="grid grid-1-4">

    {% with lot.get_geojson_url as places_url %}
    {% place_map places_url 100% 200px %}
    {% endwith %}

    <div id="streetview-container" style="width: 100%; height: 200px;"
        data-lon="{{ lot.centroid.x }}" 
        data-lat="{{ lot.centroid.y }}"></div>

</div>
{% endblock %}
