{% extends "base.html" %}
{% load i18n inplace_tags %}

{% block title %}{{ lot.address_line1 }} | {% trans "Grounded in Philly" %}{% endblock %}

{% block body_class %}{{ block.super }} lot-base-page{% endblock %}

{% block body_data %}
    data-lotpk="{{ lot.pk }}"
    data-lon="{{ lot.centroid.x }}" 
    data-lat="{{ lot.centroid.y }}"
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="/">{% trans "Home" %}</a>
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ lot.get_absolute_url }}">
            {{ lot.display_name|default:lot.pk }}
        </a>
        <span class="divider">&raquo;</span>
    </li>
{% endblock %}

{% block content %}
<div class="grid grid-3-4">
    <div class="lot-content-inner">
        {% block lot_content %}{% endblock %}
    </div>
</div>

<div class="grid grid-1-4">

    {% with lot.get_geojson_url as places_url %}
    {% place_map places_url 100% 200px %}
    {% endwith %}

    <div id="streetview-container" style="width: 100%; height: 200px;"></div>

</div>
{% endblock %}
