{% extends "lots/map/cluster_main.html" %}

{% block below_map %}
<div class="filters" style="float: left;">
    <form>
        {{ filters.as_p }}
    </form>
</div>
<div class="tally" style="float: left;">
    You are looking at:
    <ul>
        <li><span class="lots-count">X</span> lots</li>
        <li><span class="no-known-use-count">X</span> lots with no known use</li>
        {% for use in uses %}
        <li><span class="{{ use.slug }}-count">Y</span> lots being used as a {{ use.name }}</li>
        {% endfor %}
    </ul>
</div>

<script>
    function update_counts() {
        $.getJSON('/lots/count/?' + $('form').serialize(), function(data) {
            $.each(data, function(label, count) {
                $('.' + label).text(count);
            });
        });
    }

    $(document).ready(function() {

        update_counts();

        LOTS_MAP.on('moveend', function(e) {
            var g = JSON.stringify(LOTS_MAP.getBounds().toGeoJson())
            $(':input[name="centroid__within"]').val(
                JSON.stringify(LOTS_MAP.getBounds().toGeoJson())
            );
            update_counts();
        });

        $(':input').change(function() {
            update_counts();
            LOTS_MAP.reloadLotCentroidLayer($('form').serialize());
        });

    });
</script>
{% endblock %}
