/*
 * Table of contents:
 *  
 *  _base_
 *  _state_
 *  _layout_
 *  _modules_
 */


/*
 * _base_
 */

* {
    margin: 0;
    padding: 0;
}

body {
}

img {
    border: 0;
}

ul {
    list-style: none;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    text-align: left;
}

/* Clearfix boilerplate */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clear {
    clear: both;
}


/*
 * _state_
 */

.is-open {
}


/*
 * _layout_
 */

.grid {
    box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
    .grid-1-4 {
        width: 25%;
    }

    .grid-3-4 {
        width: 75%;
    }
}

#page-wrapper {
    padding-left: 50px;   
    padding-right: 50px;   
}


/*
 * _modules_
 */

#mainmenu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#aside-right {
    padding-left: 25px;
}

#footer {
    border-top: 1px solid black;
    margin-top: 50px;
    margin-bottom: 25px;
}

.field-label {
    font-weight: bold;
}

.organizer-detail {
    border-bottom: 1px solid black;
    padding: 10px;
}

.note-detail {
    border-bottom: 1px solid black;
    padding: 10px;
}
