/*
 * Table of contents:
 *  
 *  _base_
 *  _state_
 *  _layout_
 *  _modules_
 */


/*
 * _base_
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #437E71;
}

img {
    border: 0;
}

a,
a:visited {
    color: #61A194;
    text-decoration: none;
}

a:visited.btn {
    color: black;
}

a:visited.btn-danger {
    color: white;
}

.btn-primary {
    background-color: hsl(167, 30%, 50%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9bc9bf", endColorstr="#59a595");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9bc9bf), to(#59a595));
    background-image: -moz-linear-gradient(top, #9bc9bf, #59a595);
    background-image: -ms-linear-gradient(top, #9bc9bf, #59a595);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bc9bf), color-stop(100%, #59a595));
    background-image: -webkit-linear-gradient(top, #9bc9bf, #59a595);
    background-image: -o-linear-gradient(top, #9bc9bf, #59a595);
    background-image: linear-gradient(#9bc9bf, #59a595);
    border-color: #59a595 #59a595 hsl(167, 30%, 45%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

a:visited.btn-primary,
a:visited.btn-warning {
    color: white;
}

ul {
    list-style: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: #553B43;
    text-rendering: optimizelegibility;
}

h1 {
    line-height: 32px;
}

h2 {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

th {
    text-align: left;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    margin-bottom: 0;
    max-width: 100%;
}

select:last-child,
textarea:last-child,
input[type="text"]:last-child,
input[type="password"]:last-child,
input[type="datetime"]:last-child,
input[type="datetime-local"]:last-child,
input[type="date"]:last-child,
input[type="month"]:last-child,
input[type="time"]:last-child,
input[type="week"]:last-child,
input[type="number"]:last-child,
input[type="email"]:last-child,
input[type="url"]:last-child,
input[type="search"]:last-child,
input[type="tel"]:last-child,
input[type="color"]:last-child,
.uneditable-input {
    margin-bottom: 10px;
}


/*
 * _state_
 */

.is-open {
}


/*
 * _layout_
 */

.grid {
    box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
    .grid-1-2 {
        width: 50%;
    }

    .grid-1-3 {
        width: 33.3%;
    }

    .grid-2-3 {
        width: 66.6%;
    }

    .grid-1-4 {
        width: 25%;
    }

    .grid-3-4 {
        width: 75%;
    }
}

#page-wrapper {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1065px;
}

@media (max-width: 768px) {

    #page-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

}

.content-wrapper {
    padding: 25px;
}

@media (max-width: 400px) {

    .content-wrapper {
        padding: 5px;
    }

}


/*
 * _modules_
 */

.content-richtext ul {
    list-style: disc outside;
    padding-left: 20px;
}

.collapsible-section-icon {
    margin-left: 15px;
}

.collapsible-section .collapsible-section-expanded-icon {
    display: none;
}

.collapsible-section .collapsible-section-collapsed-icon {
    display: inline-block;
}

.collapsible-section.is-expanded .collapsible-section-expanded-icon {
    display: inline-block;
}

.collapsible-section.is-expanded .collapsible-section-collapsed-icon {
    display: none;
}

.collapsible-section-header {
    cursor: pointer;
}

.collapsible-section-text {
    margin-bottom: 50px;
}

#beta-disclaimer {
    display: none;
}

.home-map-page #beta-disclaimer {
    background-color: #9FB33A;
    color: white;
    display: block;
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    position: relative;
    top: -20px;
}

#beta-disclaimer a {
    color: white;
    text-decoration: underline;
}

.social-media-icon {
    float: left;
}

.social-media-icon a {
    display: block;
}

.social-facebook {
    background: url(/static/img/facebook.png);
    height: 30px;
    width: 30px;
}

.social-rss {
    background: url(/static/img/rss.png);
    height: 30px;
    width: 30px;
}

.social-twitter {
    background: url(/static/img/twitter.png);
    height: 30px;
    width: 30px;
}

.messages {
    border: 1px solid black;
    margin: 10px 0;
    padding: 15px;
}

.messages .success {
    color: green;
}

.help-text {
    font-size: 10px;
    margin-bottom: 10px;
}

header {
    margin-left: auto;
    margin-right: auto;
}

#mainmenu {
    float: left;
    height: 0;
    left: 195px;
    max-width: 700px;
    position: relative;
    top: -100px;
}

#mainmenu li {
    border-right: 1px solid #D4DAAC;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 400px) {

    #mainmenu {
        background-color: white;
        height: auto;
        left: 0;
        max-width: none;
        position: static;
        top: 0;
        width: 100%;
    }

    #mainmenu li {
        border: 0;
        float: none;
    }

}

#mainmenu li:last-child {
    border-right: 0;
}

#mainmenu a {
    color: #5F424D;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #61A194;
}

.nav-tabs > .dropdown > a:hover {
    color: #61A194;
    text-decoration: underline;
}

.nav-tabs > .dropdown.open > a:hover {
    color: white;
    text-decoration: none;
}

.nav .dropdown-toggle .caret,
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
    margin-top: 6px;
    border-top-color: #61A194;
    border-bottom-color: #61A194;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: hsl(167, 30%, 50%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9bc9bf", endColorstr="#59a595");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9bc9bf), to(#59a595));
    background-image: -moz-linear-gradient(top, #9bc9bf, #59a595);
    background-image: -ms-linear-gradient(top, #9bc9bf, #59a595);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bc9bf), color-stop(100%, #59a595));
    background-image: -webkit-linear-gradient(top, #9bc9bf, #59a595);
    background-image: -o-linear-gradient(top, #9bc9bf, #59a595);
    background-image: linear-gradient(#9bc9bf, #59a595);
    border-color: #59a595 #59a595 hsl(167, 30%, 45%);
}

.nav {
    margin: 0;
}

#tagline {
    color: white;
    cursor: default;
    float: right;
    font-style: italic;
    right: 250px;
    position: relative;
    top: -23px;
}

@media (max-width: 600px) {

    #tagline {
        display: none;
    }

}

#page-header {
    background: url(/static/img/header.png);
    height: 101px;
}

#logo {
    background: url(/static/img/logo.jpg);
    display: block;
    height: 72px;
    left: 25px;
    position: relative;
    width: 162px;
}

#logo h1 {
    display: none;
}

@media (max-width: 400px) {

    #logo {
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 768px) {

    .form-wrapper {
        display: table;
    }

    .form-row {
        display: table-row;
    }

    .form-header {
        display: table-cell;
    }

    .form-input {
        display: table-cell;
    }

}

.form-actions {
    background: transparent;
}

.required label {
    font-weight: bold;
}

.map-find-a-lot-container {
    background-color: #64948A;
    color: white;
    width: 100%;
}

.map-find-a-lot {
    padding: 10px;
}

.map-find-a-lot-form {
    margin: 0;
}

.map-find-a-lot label {
    display: inline;
    margin-right: 10px;
}

.map-find-a-lot input {
    border: 0;
    padding: 10px;
    max-width: 100%;
    width: 75%;
}

@media (max-width: 1200px) {

    .map-find-a-lot input {
        width: 50%;
    }

}

.map-find-a-lot-submit {
    background: url(/static/img/go.png);
    border: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    margin-left: -10px;
    padding: 10px;
    width: 77px;
}

#map-overlay {
    background: url(/static/img/overlay_bg.jpg);
    color: white;
    display: none;
    font-size: 26px;
    line-height: 30px;
    padding: 20px;
    position: absolute;
    width: 300px;
}

.map-overlay-button {
    color: white;
    background-color: #66AA9A;
    border: 0;
    bottom: 0;
    height: 40px;
    left: 110px;
    padding: 5px;
    position: relative;
    text-transform: uppercase;
    width: 250px;
    line-height: 26px;
}

.map-overlay-close-button,
.map-overlay-close-button:hover {
    color: white;
    cursor: pointer;
    font: bold 16px/14px Tahoma,Verdana,sans-serif;
    padding: 4px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
}

@media (max-width: 500px) {

    #map-overlay {
        width: 200px;
    }

    .map-overlay-button {
        left: 0;
    }

}

@media (max-width: 400px) {

    .map-overlay-button {
        left: -25px;
    }

}

.right-arrow-button::after {
    background: url(/static/img/right_arrow_button.png);
    content: "";
    width: 6px;
    height: 40px;
    position: relative;
    float: right;
    left: 11px;
    top: -5px;
    display: inline-block;
}

.map-filters {
    display: none;
}

.map-filters-toggle,
.map-filters-toggle:hover {
    background: url(/static/img/advanced_search_tools.png);
    color: #553B43;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 264px;
}

.filter {
    margin-bottom: 10px;
    margin-top: 10px;
}

.filter.is-disabled {
    display: none;
}

.filters-default-wrapper {
    display: none;
}
.filters-default-wrapper.visible {
    display: block;
}

.map-tally-container {
    border-top: 1px solid #E6E2E3;
    color: #553B43;
}
#map-left .map-tally-container h2 {
    font-size: 16px;
    text-transform: none;
}

.map-tally li {
    float: left;
    padding: 15px;
}

.map-tally .count {
    color: #B1C06F;
    font-size: 24px;
}

.email-participants-container {
    display: none;
    min-height: 100px;
    width: 100%;
}

.email-participants-container .spinner {
    margin-left: auto;
    margin-right: auto;
    top: 50px !important;
}

.participant-add-success section {
    margin-bottom: 25px;
}

.participant-add-success .pathway {
    padding: 5px 0;
}

.edit-participant-subscribed-lot {
    margin-top: 5px;
}

.edit-participant-subscribed-lot .subscribed-lot-link {
    display: inline-block;
    min-width: 200px;
}

.alert-info a,
.alert-info a:visited {
    color: inherit;
    font-weight: bold;
}

#aside-right {
    padding-left: 25px;
}

@media (max-width: 768px) {

    #aside-right {
        padding-left: 0;
    }

}

#footer {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#footer a,
#footer a:active,
#footer a:hover {
    color: white;
    text-decoration: underline;
}

.help-text {
    font-size: 12px;
}

.field-label {
    font-weight: bold;
}

.organizer-detail {
    border-bottom: 1px solid #888;
    padding: 20px 0;
}

.organizer-detail:last-child {
    border-bottom: 0;
}

.organizer-name {
    font-size: 18px;
    font-weight: bold;
}

.organizer-contact {
    color: #888;
    font-size: 12px;
}

.note-detail {
    border-bottom: 1px solid #888;
    padding: 20px 0;
}

.note-detail:last-child {
    border-bottom: 0;
}

.note-meta {
    padding-bottom: 10px;
}

.note-added-by {
    font-size: 16px;
    font-weight: bold;
}

.note-added-by-suffix {
    font-size: 12px;
}

.note-added {
    color: #888;
    float: right;
    font-size: 12px;
}

.note-text {
    font-size: 16px;
}

.photo-list {
    margin-top: 15px;
}

.file-detail {
    border-bottom: 1px solid #888;
    padding: 20px 0;
}

.file-detail:last-child {
    border-bottom: 0;
}

.file-title {
    font-size: 18px;
    font-weight: bold;
}

.file-added {
    color: #888;
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.file-added-by {
    font-size: 18px;
    font-weight: bold;
}

.file-added-by-prefix {
    font-size: 12px;
}

.pathway {
    padding: 10px 0;
}

.activity-stream-section {
    margin: 25px 0;
}

.activity-stream-container {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
}

#aside-right .activity-stream-container {
    height: 300px;
}

.activity-stream-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.activity-stream-list-item {
    border-bottom: 1px solid lightGray;
    list-style: none;
    padding: 10px;
    padding-left: 0;
}
.activity-stream-list-item .meta {
    font-size: 10px;
}

.admin-action {
    font-size: 24px;
    margin-bottom: 50px;
}

.admin-action-description {
    font-size: 18px;
}

.admin-only {
    font-family: Courier, monospace;
}


/* Blog */

h2.entry-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

.hentry {
    margin-bottom: 50px;
}

.hentry.first {
    margin-top: 50px;
}

.hentry .meta {
    font-size: 10px;
}

.entry-content,
.entry-summary {
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Map */

.leaflet-popup-content {
    overflow: auto;
}

@media (max-width: 400px) {

    .leaflet-popup-content {
        margin: 3px 10px;
    }
    
    .lot-popup-display-name {
        margin: 5px 0;
    }

}

#popup-content {
    height: 150px;
}

#popup-content h1 {
    font-size: 24px;
}

.lot-popup-get-involved {
    margin-bottom: 15px;
}

.lot-popup-permalink {
    margin-top: 15px;
}

/* Header link */
#popup-content h1 a,
#popup-content h1 a:visited {
    color: #553B43;
}

/* Button links */
#popup-content a.btn,
#popup-content a:visited.btn {
    color: black;
}

#popup-content a.btn-primary,
#popup-content a:visited.btn-primary {
    color: white;
}

/* Other links */
#popup-content a,
#popup-content a:visited {
    color: #61A194;
    text-decoration: none;
}


/* Map page */

#map-right {
    padding-left: 25px;
}

@media (max-width: 768px) {

    #map-right {
        padding-left: 0;
    }

}

.map-sidebar-section {
    margin-bottom: 25px;
}

.map-sidebar-logos img {
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recent-entry {
    margin-bottom: 5px;
    margin-top: 5px;
}


/* Lot detail page */

@media (min-width: 768px) {

    .lot-content-inner {
        padding-right: 25px;
    }

}

.lot-detail-main,
.lot-detail-side {
    padding: 10px;
}

.lot-detail-main-section {
    margin-bottom: 25px;
}

.lot-detail-main-section:last-child {
    margin-bottom: 0;
}

.lot-detail-side-section {
    margin-bottom: 25px;
}

.lot-detail-side-section:last-child {
    margin-bottom: 0;
}

.lot-detail-map-right {
    padding-left: 10px;
}

@media (max-width: 768px) {

    .lot-detail-map-right {
        padding-left: 0;
    }

}

.lot-detail-get-involved {
    margin-bottom: 10px;
}

.lot-detail-admin {
    margin-bottom: 10px;
}

.lot-detail-details table {
    width: 100%;
}

.lot-detail-details th {
    width: 30%;
}

.lot-detail-details th {
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.lot-detail-reasons {
    list-style: outside disc;
    margin-left: 20px;
}

ul.lot-detail-reasons li {
    margin-bottom: 5px;
}

.newsletter-signup {
    background-color: #E6E2E3;
    padding: 15px;
    padding-top: 5px;
}

.newsletter-signup form {
    margin: 0;
}


/*
 * _leaflet_
 */

.leaflet-top.leaflet-center {
    float: none;
    margin-left: 40%;
}

.leaflet-control-message {
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	background: #f8f8f9;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
}

.leaflet-control-message.is-hidden {
    display: none;
}

.leaflet-control-legend {
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	background: #f8f8f9;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
}

.leaflet-control-legend label {
    cursor: default;
    display: inline-block;
    margin-left: 5px;
}

.leaflet-control-legend-feature-color {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.leaflet-control-legend-feature-color-public {
    background-color: #D38022;
}

.leaflet-control-legend-feature-color-private {
    background-color: #287A68;
}

.leaflet-control-legend-feature-color-in-use {
    background-color: #830F94;
}

.leaflet-control-legend.is-hidden {
    display: none;
}

.leaflet-control-loading {
    background: url(/static/img/loading.gif);
}

.leaflet-control-loading,
.leaflet-control-zoom a.leaflet-control-loading {
    display: none;
}

.leaflet-control-loading.is-loading,
.leaflet-control-zoom a.leaflet-control-loading.is-loading {
    display: block;
}

.leaflet-bar-part-bottom {
    border-bottom: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
