{% load i18n %}

<ul>
    {% for organizer in organizers %}
        {% if organizer.post_publicly or "organize.change_organizer" in perms %}
            <li id="organizer-{{ organizer.pk }}" class="organizer-detail">
                <div class="organizer-name">
                    {% if organizer.url %}
                        <a href="{{ organizer.url }}" target="_blank">
                            {{ organizer.name }}
                        </a>
                    {% else %}
                        {{ organizer.name }}
                    {% endif %}
                </div>
                <div class="organizer-contact">
                    (
                        {% if organizer.phone %}
                            <span class="organizer-contact-phone">
                                {{ organizer.phone }}
                            </span> /
                        {% endif %}

                        {% if organizer.facebook_page %}
                            <span class="organizer-contact-facebook">
                                <a href="http://facebook.com/{{ organizer.facebook_page }}" target="_blank">
                                    {% trans "Facebook" %}
                                </a>
                            </span> /
                        {% endif %}

                        <span class="organizer-contact-email">
                            {{ organizer.email }}
                        </span>
                    )
                </div>

                {% if "organize" in perms %}
                    <div class="admin-only btn-group">

                        {% if "organize.change_organizer" in perms %}
                            <a class="btn btn-small btn-warning" href="{% url "admin:phillyorganize_organizer_change" organizer.pk %}">
                                <i class="icon-edit icon-white"></i>
                                {% trans "Edit" %}
                            </a>
                        {% endif %}

                        {% if "organize.delete_organizer" in perms %}
                            <a class="btn btn-small btn-warning" href="{% url "admin:phillyorganize_organizer_delete" organizer.pk %}">
                                <i class="icon-remove icon-white"></i>
                                {% trans "Delete" %}
                            </a>
                        {% endif %}

                    </div>
                {% endif %}

            </li>
        {% endif %}
    {% endfor %}
</ul>
