{% load i18n %}

<ul>
    {% for organizer in organizers %}
    <li class="organizer-detail">
        <table>
            <tbody>
                <tr>
                    <th class="field-label">{% trans "name" %}:</th>
                    <td>{{ organizer.name }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "phone" %}:</th>
                    <td>{{ organizer.phone }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "email" %}:</th>
                    <td>{{ organizer.email }}</td>
                </tr>
                <tr>
                    <th class="field-label">{% trans "vision" %}:</th>
                    <td>{{ organizer.vision|urlize|linebreaks }}</td>
                </tr>
            </tbody>
        </table>

        {% if "organize" in perms %}
        <div class="admin-only">

            {% if "organize.change_organizer" in perms %}
            <a href="{% url "admin:phillyorganize_organizer_change" organizer.pk %}">{% trans "Edit this organizer" %}</a>
            {% endif %}

            {% if "organize.delete_organizer" in perms %}
            <a href="{% url "admin:phillyorganize_organizer_delete" organizer.pk %}">{% trans "Delete this organizer" %}</a>
            {% endif %}

        </div>
        {% endif %}

    </li>
    {% endfor %}
</ul>
