{% extends "admin/change_form.html" %}

{% block field_sets %}
    {{ block.super }}

    {# Accounts fieldset #}
    <fieldset class="module aligned">
        <h2>Accounts</h2>
        <p>The billing accounts associated with this owner.</p>
        <ul>
            {% for account in original.accountowner_set.all %}
                <li>
                    <a href="{% url "admin:opa_accountowner_change" account.pk %}">
                        {{ account.name }}
                    </a>
                    <ul>
                        {% for billing_account in account.billingaccount_set.all %}
                            <li>
                                <a href="{% url "admin:opa_billingaccount_change" billing_account.pk %}">
                                    {{ billing_account.external_id }},
                                    {{ billing_account.mailing_name }},
                                    {{ billing_account.mailing_address }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
