{% load inplace_tags %}

<div id="map" style="width: 100%; height: 400px;"
    data-countsbaseurl="{% url "lots:lot_count" %}?"
    data-choroplethbaseurl="{% url "lots:lot_count_by_boundary" %}" 
    data-polygonbaseurl="{% url "lots:lot_geojson_polygon" %}"
    data-centroidbaseurl="{% url "lots:lot_geojson_centroid" %}"

    data-pointprivatetilesbaseurl="{{ lot_tile_urls.private }}"
    data-pointprivategridbaseurl="{{ lot_tile_urls.private_grid }}"

    data-pointpublictilesbaseurl="{{ lot_tile_urls.public }}"
    data-pointpublicgridbaseurl="{{ lot_tile_urls.public_grid }}"

    data-pointinusetilesbaseurl="{{ lot_tile_urls.in_use }}"
    data-pointinusegridbaseurl="{{ lot_tile_urls.in_use_grid }}"

    data-mapboxid="{% inplace_setting PLACES_MAPBOX_ID %}"></div>
