{% load inplace_tags %}

{% block includes %}{% endblock %}

{% block extra_scripts %}{% endblock %}

{% block map_markup %}
<div id="map" style="width: 100%; height: 400px;"
    data-mappagecountsbaseurl="{% url "lots:lot_count" %}?"
    data-mappagelotchoroplethbaseurl="{% url "lots:lot_count_by_boundary" %}" 
    data-mappagelotpolygonbaseurl="{% url "lots:lot_geojson_polygon" %}"
    data-cloudmadekey="{% inplace_setting PLACES_CLOUDMADE_KEY %}"
    data-cloudmadestyle="{% inplace_setting PLACES_CLOUDMADE_STYLE %}"></div>
{% endblock %}

{% block below_map %}{% endblock %}
