{% extends "lots/map/base.html" %}

{% block includes %}
{{ block.super }}

<script src="{{ STATIC_URL }}js/Leaflet.Bing.js"></script>
<script src="{{ STATIC_URL }}js/lib/leaflet.label.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/lib/leaflet.label.css" />

<script src="{{ STATIC_URL }}js/lib/leaflet.lvector.js"></script>

<script src="{{ STATIC_URL }}js/leaflet.message.js"></script>
<script src="{{ STATIC_URL }}js/leaflet.lotlayer.js"></script>
{% endblock %}

{% block options %}
{{ block.super }}
    messageControl: true,
    messageDefault: 'Zoom in for details',

    enableLayersControl: true,

    enableLotChoropleth: true,
    lotChoroplethBaseUrl: '{% url "lots:lot_count_by_boundary" %}',
    lotChoroplethQueryString: 'parents_only=True',

    enableLotPolygons: true,
    lotPolygonBaseUrl: '{% url "lots:lot_geojson_polygon" %}',
    lotPolygonInitialFilters: { 
        parentsOnly: true,
    },
{% endblock %}
