<!doctype html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

    <title>
        {% block title %}
        {{ object.name }}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" />
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
