{% load i18n %}

<h1 class="lot-popup-display-name">
    <a href="{{ object.get_absolute_url }}" target="_blank">
        {{ object.display_name }}
    </a>
</h1>

<div class="grid lot-popup-get-involved btn-group">
    <a class="btn btn-small grid grid-1-2 build-community-button" href="{% url "lots:add_organizer" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Get involved with this lot or let people know you are already growing food and community here." %}" target="_blank">
        {% trans "Grow community here" %}
    </a>
</div>

<div class="grid lot-popup-size">
    {% if object.number_of_lots > 1 %}
    <div class="grid grid-1-2">
        {% trans "Number of lots" %}: {{ object.number_of_lots }}
    </div>
    {% endif %}
    <div class="grid grid-1-2">
        {{ object.area|floatformat:"-1" }} {% trans "square feet" %}
    </div>
</div>

<div class="grid lot-popup-owner">
    {% trans "Owner" %}: {{ object.owner|default:"unknown" }}
</div>

<div class="grid lot-popup-known-use">
    {% trans "Known use" %}: {{ object.known_use|default:"None" }}
</div>

<div class="grid lot-popup-council-district">
    {% trans "Council District" %}: 
    {{ object.city_council_district|default:"unknown" }}
</div>

<div class="grid lot-popup-permalink">
    <a class="btn btn-small btn-primary btn-block" href="{{ object.get_absolute_url }}" target="_blank">{% trans "Learn more about this lot" %}</a>
</div>
