{% extends "base.html" %}
{% load files_tags i18n inplace_tags notes_tags organize_tags pathways_tags photos_tags %}

{% block title %}{{ lot.address_line1 }} | {% trans "Grounded in Philly" %}{% endblock %}

{% block body_class %}{{ block.super }} lot-base-page lot-detail-page{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="/">{% trans "Home" %}</a>
        <span class="divider">&raquo;</span>
    </li>
    <li>{{ lot.address_line1|default:lot.pk }}</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h1>{{ lot.address_line1|default:"unknown" }}</h1>

{% if "lots.change_lot" in perms %}
<div class="lot-detail-admin admin-only grid">
    <a class="btn btn-danger" href="{% url "admin:lots_lot_change" lot.pk %}">
        <i class="icon-edit icon-white"></i>
        {% trans "Edit this lot" %}
    </a>
</div>
{% endif %}

<div class="lot-detail-get-involved grid">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url "lots:add_watcher" pk=lot.pk %}">
            {% trans "Watch this lot" %}
        </a>
        <a class="btn btn-primary" href="{% url "lots:add_organizer" pk=lot.pk %}">
            {% trans "Become an organizer" %}
        </a>
    </div>

    {% if not lot.known_use %}
        <div class="btn-group pull-right">
            <a class="btn" href="{% url "lots:add_stewardnotification" pk=lot.pk %}">
                {% trans "Already using this lot?" %}
            </a>
            <a class="btn" href="{% url "lots:add_groundtruthrecord" pk=lot.pk %}">
                {% trans "Have we made a mistake?" %}
            </a>
        </div>
    {% endif %}
</div>

<div class="clear"></div>

<div class="lot-detail-map-container">

    <div class="grid grid-2-3">
        <div id="streetview-container" data-lon="{{ lot.centroid.x }}" 
            data-lat="{{ lot.centroid.y }}">
            <div id="streetview" style="height: 200px; width: 100%;"></div>
        </div>
        <div id="streetview-error" class="streetview">
            {% trans "Sorry, we couldn't find streetview imagery for this lot." %}
        </div>
    </div>

    <div class="lot-detail-map-right grid grid-1-3">
        {% with lot.get_geojson_url as places_url %}
        {% place_map places_url 100% 200px %}
        {% endwith %}
    </div>

</div>

<div class="lot-detail-main grid grid-2-3">

    <div class="lot-detail-details lot-detail-main-section">
        <table>
            <tr>
                <th>{% trans "address" %}:</th>
                <td>
                    {{ lot.address_line1|default:"unknown" }}{% if lot.postal_code %}, 
                    {{ lot.postal_code }}
                    {% endif %}
                </td>
            </tr>

            {% if lot.number_of_lots > 1 %}
            <tr>
                <th>{% trans "number of lots" %}:</th>
                <td>{{ lot.number_of_lots }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>{% trans "owner" %}:</th>
                <td>{{ lot.owner|default:"unknown" }}</td>
            </tr>

            <tr>
                <th>{% trans "known use" %}:</th>
                <td>{{ lot.known_use|default:"none" }}</td>
            </tr>

            <tr>
                <th>{% trans "Council District" %}:</th>
                <td>
                    {% if lot.city_council_district %}
                        {{ lot.city_council_district.label }}
                        {% with member=lot.city_council_district.citycouncilmember_set.all.0 %}
                        <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
                        {% endwith %}
                    {% else %}
                        {% trans "unknown" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans "Planning District" %}:</th>
                <td>
                    {% if lot.planning_district %}
                    <a href="http://phila2035.org/home-page/district/{{ lot.planning_district.label|slugify }}" target="_blank">
                            {{ lot.planning_district.label }}
                        </a>
                    {% else %}
                        {% trans "unknown" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans "area" %}:</th>
                <td>
                    {{ lot.polygon_area|floatformat:"-1"|default:"unknown" }} square feet
                </td>
            </tr>

            {% if lot.licenses.count > 0 %}
            <tr>
                <th>{% trans "licenses" %}:</th>
                <td>
                    {{ lot.licenses.count }}:
                    {% for license in lot.licenses.all %}
                    {{ license.status }},
                    {% trans "issued on" %}
                    {{ license.issued_datetime|date:"SHORT_DATE_FORMAT" }},
                    {{ license.license_type.name }}
                    <br />
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if lot.violations.count > 0 %}
            <tr>
                <th>{% trans "violations" %}:</th>
                <td>
                    {{ lot.violations.count }}:
                    {% for violation in lot.violations.all %}
                    {{ violation.violation_datetime|date:"SHORT_DATE_FORMAT" }}
                    {{ violation.violation_type }}
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if lot.zoning_district %}
            <tr>
                <th>{% trans "zoning district" %}:</th>
                <td>
                    {{ lot.zoning_district.zoning_type.code }}
                </td>
            </tr>
            {% endif %}

            {% if lot.available_property %}
            <tr>
                <th>{% trans "available" %}:</th>
                <td>
                    Available for purchase from {{ lot.available_property.agency }}
                    price: {{ lot.available_property.price_str }}
                </td>
            </tr>
            {% endif %}

        </table>
    </div>

    {% if lot.steward_projects.count > 0 %}
    <div class="lot-detail-details lot-detail-main-section">
        <h2>{% trans "Steward" %}</h2>
        <p>{% trans "This land is being stewarded by the following group:" %}

        {% with steward=lot.steward_projects.all.0 %}

        {% if "organize.change_organizer" in perms %}
        <div class="lot-detail-admin admin-only grid">
            <a href="{% url "admin:phillyorganize_organizer_change" steward.organizer.pk %}">{% trans "Edit this steward's organizer" %}</a>
        </div>
        {% endif %}

        {% if "steward.change_stewardproject" in perms %}
        <div class="lot-detail-admin admin-only grid">
            <a href="{% url "admin:steward_stewardproject_change" steward.pk %}">{% trans "Edit this steward" %}</a>
        </div>
        {% endif %}

        <table>
            <tr>
                <th>{% trans "group name" %}:</th>
                <td>
                    {% if steward.organizer.url %}
                        <a href="{{ steward.organizer.url }}" target="_blank">
                            {{ steward.organizer.name }}
                        </a>
                    {% else %}
                        {{ steward.organizer.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans "phone" %}:</th>
                <td>{{ steward.organizer.phone }}</td>
            </tr>
            <tr>
                <th>{% trans "email" %}:</th>
                <td>
                    {% if steward.organizer.email %}
                    {% with email=steward.organizer.email %}
                    <a href="mailto:{{ email }}">{{ email }}</a>
                    {% endwith %}
                    {% endif %}
                </td>
            </tr>
            {% if steward.support_organization %}
            <tr>
                <th>{% trans "supported by" %}:</th>
                <td>{{ steward.support_organization }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "has a farm stand?" %}</th>
                <td>{{ steward.farm_stand|yesno }}</td>
            </tr>
            <tr>
                <th>{% trans "waiting list to join?" %}</th>
                <td>{{ steward.farm_stand|yesno }}</td>
            </tr>
            {% if steward.others_get_involved %}
            <tr>
                <th>{% trans "how can people get involved?" %}</th>
                <td>{{ steward.others_get_involved }}</td>
            </tr>
            {% endif %}
        </table>
        {% endwith %}

    </div>
    {% endif %}

    <div class="lot-detail-details lot-detail-main-section">
        <h2>{% trans "Why is this lot here?" %}</h2>
        {% if not lot.known_use %}
        <p>{% trans "We think this lot is vacant because:" %}
        <ul class="lot-detail-reasons">

            {% if lot.land_use_area and lot.land_use_area.category == "Vacant or Other" %}
            <li>
                {% blocktrans with description=lot.land_use_area.description %}
                It is in the <a href="http://opendataphilly.org/opendata/resource/170/land-use/" target="_blank">City Planning Commission's Land Use database</a> marked as "{{ description }}".
                {% endblocktrans %}
            </li>
            {% endif %}

            {% if lot.available_property and lot.available_property.status != "no longer available" %}
            <li>
                {% blocktrans %}
                It is for sale as part of the Redevelopment Authority's <a href="http://secure.phila.gov/paplpublicweb/" target="_blank">Available Property list</a>.
                {% endblocktrans %}
            </li>
            {% endif %}

            {% if lot.violations.all.count > 0 %}
            <li>
                {% blocktrans with location_id=lot.violations.all.0.location.external_id %}
                It has <a href="http://www.phila.gov/data/Pages/LIPropertyHistory.aspx?entity=locationhistory&eid={{ location_id }}" target="_blank">violations from Licensing and Inspections</a> that indicate that it is vacant.
                {% endblocktrans %}
            </li>
            {% endif %}

            {% if lot.licenses.all.count > 0 %}
            <li>
                {% blocktrans with location_id=lot.licenses.all.0.location.external_id %}
                It has <a href="http://www.phila.gov/data/Pages/LIPropertyHistory.aspx?entity=locationhistory&eid={{ location_id }}" target="_blank">licenses from Licensing and Inspections</a> that indicate that it is vacant.
                {% endblocktrans %}
            </li>
            {% endif %}

            {% if lot.water_parcel and lot.water_parcel.percent_permeable > 50 %}
            <li>
                {% blocktrans with pp=lot.water_parcel.percent_permeable|floatformat id=lot.water_parcel.parcel_id %}
                The Water Department <a href="http://www.phila.gov/water/swmap/Parcel.aspx?parcel_id={{ id }}" target="_blank">claims</a> that the parcel is {{ pp }}% permeable (without structures or pavement).
                {% endblocktrans %}
            </li>
            {% endif %}

        </ul>
        {% endif %}
    </div>

    {% if "lots.view_all_details" in perms %}
    <div class="lot-detail-details lot-detail-main-section">
        <h2>{% trans "Admin Details" %}</h2>
        <div class="help-text">(This section is only visible to admins.)</div>
        <table>

            {% if lot.steward_projects.count > 0 %}
            <tr>
                <th>{% trans "steward's land tenure" %}:</th>
                <td>{{ lot.steward_projects.all.0.land_tenure_status }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>
                    {% trans "billing account" %}:
                    <div class="help-text">
                        {% trans "The OPA billing account for this lot, if we found one" %}
                    </div>
                </th>
                <td>
                    {% if lot.billing_account %}
                        {{ lot.billing_account }}
                        {% if "opa.change_billingaccount" in perms %}
                        <a href="{% url "admin:opa_billingaccount_change" lot.billing_account.pk %}" target="_blank">view/change</a>
                        {% endif %}
                    {% else %}
                        {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "land use" %}:
                    <div class="help-text">
                        {% trans "The land use according to the City Planning Commission, if we found a record for this lot" %}
                    </div>
                </th>
                <td>
                    {% if lot.land_use_area %}
                        {{ lot.land_use_area.category }}, 
                        {{ lot.land_use_area.subcategory }},
                        {{ lot.land_use_area.description }}
                        <div>
                            {% blocktrans with area=lot.land_use_area.area|floatformat %}
                            area: {{ area }} square feet
                            {% endblocktrans %}
                        </div>
                        {% if "landuse.change_landusearea" in perms %}
                        <div class="admin-link">
                            <a href="{% url "admin:landuse_landusearea_change" lot.land_use_area.pk %}" target="_blank">view/change</a>
                        </div>
                        {% endif %}
                    {% else %}
                    {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "parcel" %}:
                    <div class="help-text">
                        {% blocktrans %}
                        The parcel we're using for this lot. Parcels are often
                        going to be larger than land use areas.
                        {% endblocktrans %}
                    </div>
                </th>
                <td>
                    {% if lot.parcel %}
                        {{ lot.parcel }}
                        <div>
                            {% blocktrans with area=lot.parcel.area|floatformat %}
                            area: {{ area }} square feet
                            {% endblocktrans %}
                        </div>
                        {% if "parcels.change_parcel" in perms %}
                        <div class="admin-link">
                            <a href="{% url "admin:parcels_parcel_change" lot.parcel.pk %}" target="_blank">view/change</a>
                        </div>
                        {% endif %}
                    {% else %}
                        {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "tax account" %}:
                    <div class="help-text">
                        {% trans "The tax account for this lot. Will likely only exist if the account was in delinquent as of June 2012." %}
                    </div>
                </th>
                <td>
                    {% if lot.tax_account %}
                        {{ lot.tax_account }}<br />
                        {{ lot.tax_account.years_delinquent }} years delinquent<br />
                        ${{ lot.tax_account.amount_delinquent }} delinquent
                        {% if "taxaccounts.change_taxaccount" in perms %}
                        <div class="admin-link">
                            <a href="{% url "admin:taxaccounts_taxaccount_change" lot.tax_account.pk %}" target="_blank">view/change</a>
                        </div>
                        {% endif %}
                    {% else %}
                    {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "water parcel" %}:
                    <div class="help-text">
                        {% trans "The Water Department's parcel for this lot" %}
                    </div>
                </th>
                <td>
                    {% if lot.water_parcel %}
                        gross area: {{ lot.water_parcel.gross_area|floatformat }} square feet<br />
                        impervious area: {{ lot.water_parcel.impervious_area|floatformat }} square feet<br />
                        permeable area: {{ lot.water_parcel.percent_permeable|floatformat }}%<br />
                        owners: {{ lot.water_parcel.owner1 }},
                        {{lot.water_parcel.owner2}}<br />
                        <a href="http://www.phila.gov/water/swmap/Parcel.aspx?parcel_id={{ lot.water_parcel.parcel_id }}" target="_blank">view on the Water Department's site</a>
                        {% if "waterdept.change_waterparcel" in perms %}
                        <div class="admin-link">
                            <a href="{% url "admin:waterdept_waterparcel_change" lot.water_parcel.pk %}" target="_blank">view/change</a>
                        </div>
                        {% endif %}
                    {% else %}
                        none
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div id="notes" class="notes lot-detail-main-section">
        <h2>{% trans "Notes" %}</h2>
        <a class="btn" href="{% url "lots:add_note" pk=lot.pk %}">
            {% trans "Add a note" %}
        </a>
        {% render_note_list for lot %}
    </div>

    <div id="files" class="files lot-detail-main-section">
        <h2>{% trans "Files" %}</h2>
        <a class="btn" href="{% url "lots:add_file" pk=lot.pk %}">
            {% trans "Add a file" %}
        </a>
        {% render_file_list for lot %}
    </div>

    <div id="survey" class="survey lot-detail-main-section">
        <h2>{% trans "Land Characteristics" %}</h2>
        <p>
            What is this lot like?
        </p>
        <form action="{% url "survey_submit" pk=form.form.pk %}" class="survey-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Update" %}" />
        </form>
    </div>

</div>

<div class="lot-detail-side grid grid-1-3">

    <div id="photos" class="lot-detail-side-section photos">
        <h2>{% trans "Photos" %}</h2>
        <div>
            <a class="btn" href="{% url "lots:add_photo" pk=lot.pk %}">
                {% trans "Submit a photo" %}
            </a>
        </div>
        {% render_photo_list for lot %}
    </div>

    {% if lot.nearby %}
    <div class="lot-detail-side-section">
        <h2>{% trans "Nearby Lots" %}</h2>
        <ul>
            {% for nearby in lot.nearby %}
            <li>
                <a href="{{ nearby.get_absolute_url }}">{{ nearby.address_line1 }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="lot-detail-side-section">
        <h2>{% trans "Request a cleanup" %}</h2>
        You can 
        <a href="http://www.phila.gov/qualityoflife/Vacant_Lot_Criteria_.html" target="_blank">{% trans "request a cleanup" %}</a>
        of this lot through the city's Vacant Lot Program
    </div>

    <div id="organizers" class="organize lot-detail-side-section">
        <h2>{% trans "Organize" %}</h2>
        {% get_organizer_count for lot as organizer_count %}
        <div>There {{ organizer_count|pluralize:"is,are" }} {{ organizer_count }} organizer{{ organizer_count|pluralize }} on this lot.</div>
        <a class="btn" href="{% url "lots:add_organizer" pk=lot.pk %}">
            {% trans "Become an organizer" %}
        </a>
        {% render_organizer_list for lot %}
    </div>

    <div class="watch lot-detail-side-section">
        <h2>{% trans "Watch" %}</h2>
        {% get_watcher_count for lot as watcher_count %}
        <div>There {{ watcher_count|pluralize:"is,are" }} {{ watcher_count }} watcher{{ watcher_count|pluralize }} on this lot.</div>
        <a class="btn" href="{% url "lots:add_watcher" pk=lot.pk %}">
            {% trans "Watch this lot" %}
        </a>
    </div>

    <div id="pathways" class="pathways lot-detail-side-section">
        <h2>{% trans "Pathways" %}</h2>

        {% if "pathways.add_pathway" in perms %}
        <div class="lot-detail-admin admin-only grid">
            <a href="{% url "admin:pathways_pathway_add" %}">{% trans "Add a pathway" %}</a>
        </div>
        {% endif %}

        {% get_pathways for lot as pathways %}
        <ul>
            {% for pathway in pathways %}
            <li>
                <a href="{{ pathway.get_absolute_url }}">
                    {{ pathway.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
