{% extends "base.html" %}
{% load files_tags i18n inplace_tags lot_tags notes_tags organize_tags survey_tags pathways_tags photos_tags %}

{% block title %}{{ lot.display_name }} | {% trans "Grounded in Philly" %}{% endblock %}

{% block body_class %}{{ block.super }} lot-base-page lot-detail-page{% endblock %}

{% block body_data %}
    data-lotpk="{{ lot.pk }}"
    data-lon="{{ lot.centroid.x }}" 
    data-lat="{{ lot.centroid.y }}"
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="/">{% trans "Home" %}</a>
        <span class="divider">&raquo;</span>
    </li>
    <li>{{ lot.display_name|default:lot.pk }}</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h1>{{ lot.display_name|default:"unknown" }}</h1>

{% if "lots.change_lot" in perms %}
<div class="lot-detail-admin admin-only grid">
    <a class="btn btn-small btn-warning" href="{% url "admin:lots_lot_change" lot.pk %}">
        <i class="icon-edit icon-white"></i>
        {% trans "Edit this lot" %}
    </a>
</div>
{% endif %}

<div class="lot-detail-get-involved grid">
    <div class="pull-left">
        <a class="btn btn-primary build-community-button lot-page-tooltip" href="{% url "lots:add_organizer" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Get involved with this lot or let people know you are already working towards growing community here." %}">
            {% trans "Grow community here" %}
        </a>
    </div>

    {% if not lot.known_use %}
        <div class="btn-group pull-right">
            <a class="btn lot-page-tooltip" href="{% url "lots:add_stewardnotification" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Tell us more about your garden project." %}">
                {% trans "Is this an active garden?" %}
            </a>
            <a class="btn lot-page-tooltip" href="{% url "lots:add_groundtruthrecord" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Let us know that this lot's actual use is not correctly identified." %}">
                {% trans "Have we made a mistake?" %}
            </a>
        </div>
    {% endif %}
</div>

<div class="clear"></div>

<div class="lot-detail-map-container">

    <div class="grid grid-2-3">
        <div id="streetview-container">
            <div id="streetview" style="height: 200px; width: 100%;"></div>
        </div>
        <div id="streetview-error" class="streetview">
            {% trans "Sorry, we couldn't find streetview imagery for this lot." %}
        </div>
    </div>

    <div class="lot-detail-map-right grid grid-1-3">
        {% with lot.get_geojson_url as places_url %}
        {% place_map places_url 100% 200px %}
        {% endwith %}

        <a href="{{ lot|main_map_url }}">{% trans "view lot on main map" %}</a>
    </div>

</div>

<div class="lot-detail-main grid grid-2-3">

    <div class="lot-detail-details lot-detail-main-section">

        {% if lot.available_property %}
            <div class="alert alert-info">
                {% trans "This lot is available for purchase from" %} {{ lot.available_property.agency }}{% if not lot.available_property.price_str != "$0.00" %}.{% else %} for {{ lot.available_property.price_str }}.{% endif %}
                <a href="http://groundedinphilly.org/pathways/get-permission-use-land-Philly-Land-Works/" target="_blank">Learn more</a> or
                <a href="http://secure.phila.gov/PAPLPublicWeb/AddAsset.aspx?AssetID={{ lot.available_property.asset_id }}" target="_blank">express interest in buying it</a>.
            </div>
        {% endif %}

        <table>
            <tr>
                <th>{% trans "address" %}:</th>
                <td>
                    {{ lot.address_line1|default:"unknown" }}{% if lot.postal_code %}, 
                    {{ lot.postal_code }}
                    {% endif %}
                </td>
            </tr>

            {% if lot.number_of_lots > 1 %}
            <tr>
                <th>{% trans "number of lots" %}:</th>
                <td>{{ lot.number_of_lots }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>{% trans "owner" %}:</th>
                <td>
                    <div>
                        {{ lot.owner|default:"unknown" }}
                    </div>

                    {% if lot.owner and "owners.change_owner" in perms %}
                        <div class="lot-detail-admin admin-only grid">
                            <a class="btn btn-small btn-warning" href="{% url "admin:lots_lot_changelist" %}?owner={{ lot.owner.pk }}">
                                {% trans "View all lots this owner owns" %}
                            </a>
                        </div>
                    {% endif %}

                </td>
            </tr>

            <tr>
                <th>{% trans "known use" %}:</th>
                <td>{{ lot.known_use|default:"none" }}</td>
            </tr>

            <tr>
                <th>{% trans "Council District" %}:</th>
                <td>
                    {% if lot.city_council_district %}
                        {{ lot.city_council_district.label }}
                        {% with member=lot.city_council_district.citycouncilmember_set.all.0 %}
                        <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
                        {% endwith %}
                    {% else %}
                        {% trans "unknown" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans "Planning District" %}:</th>
                <td>
                    {% if lot.planning_district %}
                    <a href="http://phila2035.org/home-page/district/{{ lot.planning_district.label|slugify }}" target="_blank">
                            {{ lot.planning_district.label }}
                        </a>
                    {% else %}
                        {% trans "unknown" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans "area" %}:</th>
                <td>
                    {{ lot.polygon_area|floatformat:"-1"|default:"unknown" }} square feet
                </td>
            </tr>

            {% if lot.licenses.count > 0 %}
            <tr>
                <th>
                    {% trans "licenses" %}
                    <span class="badge">{{ lot.licenses.count }}</span>
                </th>
                <td>
                    <ul>
                        {% for license in lot.licenses.all %}
                            <li>
                                <a href="http://www.phila.gov/data/Pages/default.aspx?entity=licenses&eid={{ license.external_id }}" target="_blank" class="lot-page-tooltip" data-toggle="tooltip" title="{% trans "Active or recent licenses can indicate that the lot's owner is paying attention to the lot. They might be easier to get in touch with than other owners." %}">
                                    {{ license.status|lower }} ({{ license.external_id }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if lot.violations.count > 0 %}
            <tr>
                <th>
                    {% trans "violations" %}
                    <span class="badge">{{ lot.violations.count }}</span>
                </th>
                <td>
                    <ul>
                        {% for violation in lot.violations.all %}
                            <li>
                                {% if violation.case_number %}
                                    <a href="http://www.phila.gov/data/Pages/default.aspx?entity=violationdetails&eid={{ violation.case_number }}" target="_blank">
                                        {{ violation.violation_datetime|date:"SHORT_DATE_FORMAT" }}
                                        {{ violation.violation_type }}
                                    </a>
                                {% else %}
                                    {{ violation.violation_datetime|date:"SHORT_DATE_FORMAT" }}
                                    {{ violation.violation_type }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if lot.zoning_district %}
            <tr>
                <th>{% trans "zoning district" %}:</th>
                <td>
                    {{ lot.zoning_district.zoning_type.code }}
                </td>
            </tr>
            {% endif %}

        </table>
    </div>

    {% if lot.steward_projects.all.count > 0 %}
        {% with steward=lot.steward_projects.all.0 %}
            {% if steward.organizer %}
                <div class="lot-detail-details lot-detail-main-section">
                    <h2>{% trans "Steward" %}</h2>
                    <p>{% trans "This land is being stewarded by the following group:" %}

                    {% if "steward.change_stewardproject" in perms %}

                        <div class="lot-detail-admin admin-only grid">
                            <a class="btn btn-small btn-warning" href="{% url "admin:phillyorganize_organizer_change" steward.organizer.pk %}">
                                <i class="icon-edit icon-white"></i>
                                {% trans "Edit this steward's contact information" %}
                            </a>
                        </div>

                        <div class="lot-detail-admin admin-only grid">
                            <a class="btn btn-small btn-warning" href="{% url "admin:steward_stewardproject_change" steward.pk %}">
                                <i class="icon-edit icon-white"></i>
                                {% trans "Edit this steward's other information" %}
                            </a>
                        </div>
                    {% endif %}

                    <table>
                        <tr>
                            <th>{% trans "group name" %}:</th>
                            <td>
                                {% if steward.organizer.url %}
                                    <a href="{{ steward.organizer.url }}" target="_blank">
                                        {{ steward.organizer.name }}
                                    </a>
                                {% else %}
                                    {{ steward.organizer.name }}
                                {% endif %}
                            </td>
                        </tr>

                        {% if steward.organizer.post_publicly or "steward.change_stewardproject" in perms %}
                            <tr>
                                <th>{% trans "phone" %}:</th>
                                <td>{{ steward.organizer.phone }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "email" %}:</th>
                                <td>
                                    {% if steward.organizer.email %}
                                    {% with email=steward.organizer.email %}
                                    <a href="mailto:{{ email }}">{{ email }}</a>
                                    {% endwith %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if steward.support_organization %}
                        <tr>
                            <th>{% trans "supported by" %}:</th>
                            <td>{{ steward.support_organization }}</td>
                        </tr>
                        {% endif %}

                    </table>

                </div>
            {% endif %}
        {% endwith %}
    {% endif %}

    <div class="lot-detail-details lot-detail-main-section">
        <h2>{% trans "Why is this lot here?" %}</h2>
        {% if not lot.is_visible %}
            <p>
                {% blocktrans %}
                    Actually, it should not be here. Let us know so we can take 
                    care of it.
                {% endblocktrans %}
            </p>
        {% elif not lot.known_use %}
            <p>{% trans "We think this lot is vacant because:" %}
            <ul class="lot-detail-reasons">

                {% if lot.land_use_area and lot.land_use_area.category == "Vacant or Other" %}
                <li>
                    {% blocktrans with description=lot.land_use_area.description %}
                    It is in the <a href="http://opendataphilly.org/opendata/resource/170/land-use/" target="_blank">City Planning Commission's Land Use database</a> marked as "{{ description }}".
                    {% endblocktrans %}
                </li>
                {% endif %}

                {% if lot.available_property and lot.available_property.status != "no longer available" %}
                <li>
                    {% blocktrans %}
                        It is for sale as part of the Redevelopment Authority's <a href="http://secure.phila.gov/paplpublicweb/" target="_blank">Available Property list</a>.
                    {% endblocktrans %}
                    <a href="https://secure.phila.gov/PAPLPublicWeb/AddAsset.aspx?AssetID={{ lot.available_property.asset_id }}" target="_blank">{% trans "Express interest" %}</a>
                    {% trans "in this lot" %}.
                </li>
                {% endif %}

                {% if lot.violations.all.count > 0 %}
                <li>
                    {% blocktrans with location_id=lot.violations.all.0.location.external_id %}
                    It has <a href="http://www.phila.gov/data/Pages/default.aspx?entity=locationhistory&eid={{ location_id }}" target="_blank">violations from Licensing and Inspections</a> that indicate that it is vacant.
                    {% endblocktrans %}
                </li>
                {% endif %}

                {% if lot.licenses.all.count > 0 %}
                <li>
                    {% blocktrans with location_id=lot.licenses.all.0.location.external_id %}
                    It has <a href="http://www.phila.gov/data/Pages/LIPropertyHistory.aspx?entity=locationhistory&eid={{ location_id }}" target="_blank">licenses from Licensing and Inspections</a> that indicate that it is vacant.
                    {% endblocktrans %}
                </li>
                {% endif %}

                {% if lot.water_parcel and lot.water_parcel.percent_permeable > 50 %}
                <li>
                    {% blocktrans with pp=lot.water_parcel.percent_permeable|floatformat id=lot.water_parcel.parcel_id %}
                    The Water Department <a href="http://www.phila.gov/water/swmap/Parcel.aspx?parcel_id={{ id }}" target="_blank">claims</a> that the parcel is {{ pp }}% permeable (without structures or pavement).
                    {% endblocktrans %}
                </li>
                {% endif %}

            </ul>
        {% else %}
            {% blocktrans with use=lot.known_use %}
                The lot is being used as a {{ use }}.
            {% endblocktrans %}
        {% endif %}
    </div>

    {% if "lots.view_all_details" in perms %}
    <div class="lot-detail-details lot-detail-main-section">
        <h2>{% trans "Admin Details" %}</h2>
        <div class="help-text">(This section is only visible to admins.)</div>
        <table>

            {% if lot.steward_projects.count > 0 %}
            <tr>
                <th>{% trans "steward's land tenure" %}:</th>
                <td>{{ lot.steward_projects.all.0.land_tenure_status }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>
                    {% trans "billing account" %}:
                    <div class="help-text">
                        {% trans "The OPA billing account for this lot, if we found one" %}
                    </div>
                </th>
                <td>
                    {% if lot.billing_account %}
                        {{ lot.billing_account }}
                        {% if "opa.change_billingaccount" in perms %}
                            <a class="admin-only btn btn-small btn-warning" href="{% url "admin:opa_billingaccount_change" lot.billing_account.pk %}" target="_blank">
                                {% trans "view/change" %}
                            </a>
                        {% endif %}
                    {% else %}
                        {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "land use" %}:
                    <div class="help-text">
                        {% trans "The land use according to the City Planning Commission, if we found a record for this lot" %}
                    </div>
                </th>
                <td>
                    {% if lot.land_use_area %}
                        {{ lot.land_use_area.category }}, 
                        {{ lot.land_use_area.subcategory }},
                        {{ lot.land_use_area.description }}
                        <div>
                            {% blocktrans with area=lot.land_use_area.area|floatformat %}
                            area: {{ area }} square feet
                            {% endblocktrans %}
                        </div>
                        {% if "landuse.change_landusearea" in perms %}
                        <div class="admin-link admin-only">
                            <a class="btn btn-small btn-warning" href="{% url "admin:landuse_landusearea_change" lot.land_use_area.pk %}" target="_blank">
                                {% trans "view/change" %}
                            </a>
                        </div>
                        {% endif %}
                    {% else %}
                    {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "parcel" %}:
                    <div class="help-text">
                        {% blocktrans %}
                        The parcel we're using for this lot. Parcels are often
                        going to be larger than land use areas.
                        {% endblocktrans %}
                    </div>
                </th>
                <td>
                    {% if lot.parcel %}
                        {{ lot.parcel }}
                        <div>
                            {% blocktrans with area=lot.parcel.area|floatformat %}
                            area: {{ area }} square feet
                            {% endblocktrans %}
                        </div>
                        {% if "parcels.change_parcel" in perms %}
                        <div class="admin-link admin-only">
                            <a class="btn btn-small btn-warning" href="{% url "admin:parcels_parcel_change" lot.parcel.pk %}" target="_blank">
                                {% trans "view/change" %}
                            </a>
                        </div>
                        {% endif %}
                    {% else %}
                        {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "tax account" %}:
                    <div class="help-text">
                        {% trans "The tax account for this lot. Will likely only exist if the account was in delinquent as of June 2012." %}
                    </div>
                </th>
                <td>
                    {% if lot.tax_account %}
                        {{ lot.tax_account }}<br />
                        {{ lot.tax_account.years_delinquent }} years delinquent<br />
                        ${{ lot.tax_account.amount_delinquent }} delinquent
                        {% if "taxaccounts.change_taxaccount" in perms %}
                        <div class="admin-link admin-only">
                            <a class="btn btn-small btn-warning" href="{% url "admin:taxaccounts_taxaccount_change" lot.tax_account.pk %}" target="_blank">
                                {% trans "view/change" %}
                            </a>
                        </div>
                        {% endif %}
                    {% else %}
                    {% trans "not found" %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    {% trans "water parcel" %}:
                    <div class="help-text">
                        {% trans "The Water Department's parcel for this lot" %}
                    </div>
                </th>
                <td>
                    {% if lot.water_parcel %}
                        gross area: {{ lot.water_parcel.gross_area|floatformat }} square feet<br />
                        impervious area: {{ lot.water_parcel.impervious_area|floatformat }} square feet<br />
                        permeable area: {{ lot.water_parcel.percent_permeable|floatformat }}%<br />
                        owners: {{ lot.water_parcel.owner1 }},
                        {{lot.water_parcel.owner2}}<br />
                        <a href="http://www.phila.gov/water/swmap/Parcel.aspx?parcel_id={{ lot.water_parcel.parcel_id }}" target="_blank">view on the Water Department's site</a>
                        {% if "waterdept.change_waterparcel" in perms %}
                        <div class="admin-link admin-only">
                            <a class="btn btn-small btn-warning" href="{% url "admin:waterdept_waterparcel_change" lot.water_parcel.pk %}" target="_blank">
                                {% trans "view/change" %}
                            </a>
                        </div>
                        {% endif %}
                    {% else %}
                        none
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div id="notes" class="notes lot-detail-main-section">
        <h2>
            {% trans "Notes" %}
            {% get_note_count for lot as note_count %}
            {% if note_count > 0 %}
                <span class="badge">{{ note_count }}</span>
            {% endif %}
        </h2>
        <a class="btn" href="{% url "lots:add_note" pk=lot.pk %}">
            {% trans "Add a note" %}
        </a>
        {% render_note_list for lot %}
    </div>

    <div id="files" class="files lot-detail-main-section">
        <h2>
            {% trans "Files" %}
            {% get_file_count for lot as file_count %}
            {% if file_count > 0 %}
                <span class="badge">{{ file_count }}</span>
            {% endif %}
        </h2>
        <a class="btn" href="{% url "lots:add_file" pk=lot.pk %}">
            {% trans "Add a file" %}
        </a>
        {% render_file_list for lot %}
    </div>

    <div id="survey" class="survey lot-detail-main-section">
        <h2>{% trans "Land Characteristics" %}</h2>
        <div class="lot-detail-details">
            {% render_survey_entry 1 for lot %}
        </div>
        <a class="btn" href="{% url "lots:land_survey" pk=lot.pk %}">
            {% trans "Edit" %}
        </a>
    </div>

</div>

<div class="lot-detail-side grid grid-1-3">

    <div id="photos" class="lot-detail-side-section photos">
        <h2>{% trans "Photos" %}</h2>
        <div>
            <a class="btn" href="{% url "lots:add_photo" pk=lot.pk %}">
                {% trans "Submit a photo" %}
            </a>
        </div>
        {% render_photo_list for lot %}
    </div>

    {% if lot.nearby %}
    <div class="lot-detail-side-section">
        <h2>{% trans "Nearby Lots" %}</h2>
        <ul>
            {% for nearby in lot.nearby %}
            <li>
                <a href="{{ nearby.get_absolute_url }}">{{ nearby.display_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="lot-detail-side-section">
        <h2>{% trans "Report a lot" %}</h2>
        {% blocktrans %}
            You can report a lot as vacant and request a cleanup by contacting 
            <a href="http://www.phila.gov/311/requestsubmission.html" target="_blank">Philly 311</a>
            by phone or with the 
            <a href="http://www.phila.gov/311/requestsubmission.html" target="_blank">311 online form</a>. 
        {% endblocktrans %}
    </div>

    <div id="organizers" class="organize lot-detail-side-section">
        <h2>
            {% trans "Grow Community Here" %}
        </h2>
        {% get_organizer_count for lot as organizer_count %}
        {% if organizer_count > 0 %}
            <div class="help-text">
                {% blocktrans count organizer_count=organizer_count %}
                    One person is interested in this lot.
                {% plural %}
                    {{ organizer_count }} people are interested in this lot.
                {% endblocktrans %}

                {% blocktrans %}
                    They'll get your message if you post a note or photo.
                {% endblocktrans %}
            </div>
        {% endif %}
        <a class="btn build-community-button lot-page-tooltip" href="{% url "lots:add_organizer" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Get involved with this lot or let people know you are already working towards growing community here." %}">
            {% trans "Grow community here" %}
        </a>
        {% render_organizer_list for lot %}
    </div>

    {% if not lot.known_use %}
        <div id="pathways" class="pathways lot-detail-side-section">
            <h2>{% trans "Pathways" %}</h2>

            {% if "pathways.add_pathway" in perms %}
            <div class="lot-detail-admin admin-only grid">
                <a class="btn btn-small btn-warning" href="{% url "admin:pathways_pathway_add" %}">
                    <i class="icon-plus icon-white"></i>
                    {% trans "Add a pathway" %}
                </a>
            </div>
            {% endif %}

            {% render_pathway_summary_list for lot %}
        </div>
    {% endif %}

</div>

{% endblock %}
