{% load i18n %}

<h1 class="lot-popup-display-name">
    <a href="{{ object.get_absolute_url }}" target="_blank">
        {{ object.display_name }}
    </a>
</h1>

<div class="grid lot-popup-size">
    {% if object.number_of_lots > 1 %}
    <div class="grid grid-1-2">
        {% trans "Number of lots" %}: {{ object.number_of_lots }}
    </div>
    {% endif %}
    <div class="grid grid-1-2">
        {{ object.area|floatformat:"-1" }} {% trans "square feet" %}
    </div>
</div>

<div class="grid lot-popup-owner">
    {% if object.owner %}
        {% if object.owner.owner_type == "private" %}
            {% trans "Privately" %}
        {% elif object.owner.owner_type == "public" %}
            {% trans "Publicly" %}
        {% endif %}
        {% trans "owned by" %}
        {{ object.owner.name }}
    {% else %}
        {% trans "Unknown owner" %}
    {% endif %}
</div>

<div class="grid lot-popup-known-use">
    {% if object.known_use %}
        {% trans "Used as a" %} {{ object.known_use }}
    {% else %}
        {% trans "No known use" %}
    {% endif %}
</div>

<div class="grid lot-popup-permalink">
    <a class="btn btn-small btn-primary btn-block" href="{{ object.get_absolute_url }}" target="_blank">{% trans "Learn more about this lot" %}</a>
</div>
