{% extends "lots/base.html" %}
{% load facebook_tags i18n pathways_tags twitter_tags %}

{% block title %}{% trans "Grow Community Here" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "Grow Community Here" %}</li>
{% endblock %}

{% block lot_content %}
    {{ block.super }}
    <div id="lot-details" class="participant-add-success">
        <h3>{% trans "Grow Community Here" %}</h3>
        <div>
            <section>
                {% blocktrans with url=lot.get_absolute_url name=lot.display_name %}
                    Success! You are now subscribed to a vacant lot that we're calling 
                    <a href="{{ url }}">{{ name }}</a>.
                {% endblocktrans %}
            </section>

            <section>
                {% url "lots:edit_participant" hash=participant.email_hash as edit_url %}
                {% blocktrans with email=participant.email %}
                    You will now receive emails at <strong>{{ email }}</strong> 
                    when that lot is updated&mdash;when new neighbors sign up 
                    on the lot and notes are added to it. If this was an 
                    accident or if you change your mind in the future, you can 
                    stop this at any time on <a href="{{ edit_url }}">this page</a>. 
                    You should receive an email with this link soon.
                {% endblocktrans %}
            </section>

            {% if participant.post_publicly %}
                <section>
                    {% blocktrans with url=lot.get_absolute_url %}
                        Be aware that your contact information is now posted 
                        publicly on the <a href="{{ url }}">lot's page</a>
                        so others who are interested in it can get in touch 
                        with you.
                    {% endblocktrans %}
                </section>
            {% endif %}

            {% if lot.nearby %}
                <section>
                    <h2>{% trans "Nearby" %}</h2>
                    {% blocktrans %}
                        Here are some lots near this one you might be interested in:
                    {% endblocktrans %}
                    <ul class="nearby-lots">
                        {% for nearby in lot.nearby %}
                        <li>
                            <a href="{{ nearby.get_absolute_url }}">{{ nearby.display_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            <section>
                <h2>{% trans "Share" %}</h2>
                {% blocktrans %}
                    Let your friends know you're growing community here! Share 
                    it on Twitter and Facebook:
                {% endblocktrans %}
                <div>
                    {% with message="I just subscribed to "|add:lot.display_name|add:" on @Grounded215" %}
                        {% tweet_button message link_to lot %}
                    {% endwith %}

                    {% share_button lot.get_absolute_url %}
                </div>
            </section>

            <section>
                <h2>{% trans "Get Access" %}</h2>
                {% blocktrans %}
                    Here are some ways you might get legal access to this lot:
                {% endblocktrans %}
                {% render_pathway_summary_list for lot %}
            </section>
        </div>
    </div>
{% endblock %}
