{% extends "lots/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Become an organizer" %}{% endblock %}

{% block body_class %}{{ block.super }} add-organizer-page{% endblock %}

{% block lot_content %}
{{ block.super }}
<div>
    <h3>{% trans "Become an organizer" %}</h3>
    <div>
        <p>
            {% blocktrans %}
            Awesome! Tell us a little about yourself.
            {% endblocktrans %}
        </p>
        <p> 
            {% blocktrans %}
            If you select "community based organization" from the dropdown below, you will be able to add your organization's webpage, which will automatically become a link, and facebook link, a feed from which will appear directly on this page. 
            {% endblocktrans %}
        </p>
        {% include "organize/form_snippet.html" %}
    </div>
</div>
{% endblock %}
