{% extends "lots/base.html" %}
{% load facebook_tags i18n twitter_tags %}

{% block title %}{% trans "Watch a Lot" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "Watch a Lot" %}</li>
{% endblock %}

{% block lot_content %}
{{ block.super }}
<div id="lot-details">
    <h3>{% trans "Watch a lot" %}</h3>
    <div>
        <p>
            {% blocktrans %}
                Success! You are now watching a vacant lot that we're calling 
            {% endblocktrans %}
            <a href="{{ lot.get_absolute_url }}">{{ lot.display_name }}</a>.
        </p>

        <p>
            {% blocktrans %}
                You will now receive emails when that lot is updated&mdash;when new
                organizers sign up on the lot and notes are added to it. If this was an
                accident or if you change your mind in the future, you can stop
                organizing this lot at any time on 
            {% endblocktrans %}
            <a href="{% url "lots:edit_participant" hash=participant.email_hash %}">{% trans "this page" %}</a>. 
            {% trans "You should receive an email with this link soon." %}
        </p>

        {% if lot.nearby %}
            <p>
                {% blocktrans %}
                    Also, here are some lots near this one you might be interested in:
                {% endblocktrans %}
                <ul class="nearby-lots">
                    {% for nearby in lot.nearby %}
                    <li>
                        <a href="{{ nearby.get_absolute_url }}">{{ nearby.display_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        <p>
            {% blocktrans %}
                Let your friends know you're watching this! Share it on Twitter and 
                Facebook:
            {% endblocktrans %}
            <div>
                {% with message="I just started watching "|add:lot.display_name|add:" on @Grounded215" %}
                    {% tweet_button message link_to lot %}
                {% endwith %}

                {% share_button lot.get_absolute_url %}
            </div>
        </p>
    </div>
</div>
{% endblock %}
