{% extends "lots/base.html" %}
{% load facebook_tags i18n twitter_tags %}

{% block title %}{% trans "Become an Organizer" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "Become an Organizer" %}</li>
{% endblock %}

{% block lot_content %}
{{ block.super }}
<div id="lot-details">
    <h3>{% trans "Become an organizer" %}</h3>
    <div>
        <p>Success! You are now organizing a vacant lot that we're calling <a href="{{ lot.get_absolute_url }}">{{ lot.display_name }}</a>.</p>

        <p>You will now receive emails when that lot is updated--when new
        organizers sign up on the lot and notes are added to it. If this was an
        accident or if you change your mind in the future, you can stop
        organizing this lot at any time on <a href="{% url "lots:edit_participant" hash=participant.email_hash %}">this page</a>. You should receive an email with this link soon.</p>
 
        <p>Be aware that your contact information is now posted publicly on the <a href="{{ lot.get_absolute_url }}">lot's page</a> so others who are interested in the site can get in touch with you.</p>

        {% if lot.nearby %}
        <p>Also, here are some lots near this one you might be interested in:
            <ul class="nearby-lots">
                {% for nearby in lot.nearby %}
                <li>
                    <a href="{{ nearby.get_absolute_url }}">{{ nearby.address_line1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}

        <p>
            Let your friends know you're organizing here! Share it on Twitter and Facebook:
            <div>
                {% with message="I just started organizing "|add:lot.display_name|add:" on @Grounded215" %}
                    {% tweet_button message link_to lot %}
                {% endwith %}

                {% share_button lot.get_absolute_url %}
            </div>
        </p>
    </div>
</div>
{% endblock %}
