{% extends "lots/organize/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change the lots you're growing community in" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>{% trans "Change the lots you're growing community in" %}</li>
{% endblock %}

{% block content %}
{{ block.super }}
<div>
    <h1>{% trans "Change the lots you're growing community in" %}</h1>
    <div>

        {% if organizers %}
            <p>
                {% blocktrans %}
                    Hi <strong>{{ email }}</strong>!  You're listed as growing 
                    community in the following lots:
                {% endblocktrans %}
                <ul>
                    {% for organizer in organizers %}
                    <li class="edit-participant-subscribed-lot">
                        <a class="subscribed-lot-link" href="{{ organizer.content_object.get_absolute_url }}">
                            {{ organizer.content_object.address_line1|default:"no address" }}
                        </a>
                        <a class="btn btn-danger btn-mini" href="{% url "lots:delete_organizer" lot_pk=organizer.content_object.pk hash=organizer.email_hash pk=organizer.pk %}?next_url={{ request.path }}">
                            <i class="icon-white icon-trash"></i>
                            {% trans "unsubscribe" %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </p>
        {% else %}
            <p>
                {% blocktrans %}
                    Looks like you're not growing community in any lots. Check out 
                    our <a href="/">map</a> and find a lot near you to watch!
                {% endblocktrans %}
            </p>
        {% endif %}

        <p>
            {% blocktrans %}
                If you think this information is incorrect, please
                <a href="/get-involved/contact-us/">contact us</a>
                and let us know.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
