{% extends "lots/organize/base.html" %}
{% load i18n %}

{% block title %}{% trans "Unsubscribe" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url "lots:edit_participant" hash=organizer.email_hash %}">
            {% trans "Change the lots you're growing community in" %}
        </a>
        <span class="divider">&raquo;</span>
    </li>
    <li>
        {% trans "Unsubscribe" %}
    </li>
{% endblock %}

{% block content %}
{{ block.super }}
<div>
    <h1>{% trans "Unsubscribe" %}</h1>
    <h2>
        {{ organizer.content_object }}
    </h2>
    <div>
        <p>
            {% blocktrans %}
                Are you sure you want to stop getting updates about this lot?
            {% endblocktrans %}
        </p>
        <p>
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="next_url" value="{{ next_url }}" />
                <input type="submit" value="Yes, unsubscribe me" />
            </form>
        </p>
    </div>
</div>
{% endblock %}
