{% load applicationcontent_tags compress i18n inplace_tags %}

{% block content_main %}
<div class="extraadmin-mail-participants-page">
    <h1>{% trans "Email Participants" %}</h1>
    <div>
        <span>{% trans "Please enter your email below." %}</span>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div>
                This email will be sent to <span class="organizer-count">X</span> organizers and <span class="watcher-count">Y</span> watchers in the following lots:
            </div>
            {% include "lots/map/mail_participants.html" %}
            <input type="submit" value="{% trans "submit" %}" />
        </form>
    </div>
</div>
{% endblock %}
