<section class="collapsible-section{% if not content.start_collapsed %} is-expanded{% endif %}">
    <h2 class="collapsible-section-header">
        <span class="collapsible-section-title">
            {{ content.title }}
        </span>
        <i class="collapsible-section-icon collapsible-section-expanded-icon icon-minus"></i>
        <i class="collapsible-section-icon collapsible-section-collapsed-icon icon-plus"></i>
    </h2>
    <div class="collapsible-section-text content-richtext">
        {{ content.text|safe }}
    </h2>
</section>
